<h1>Users can...</h1>
<ul>
  <li>Sign up and log in/out</li>
  <li>Post a translation assignment (displaying the title, number of words, and the language)</li>
  <li>View any translation assignment by clicking on its title</li>
  <li>Edit/delete their own assignments (but not others - permissions do not allow it)</li>
  <li>Be redirected if they try to create a new assignment without first logging in</li>
</ul>
